<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-8">

	<div class="flex justify-center w-full">

		<!-- avatar circle -->
		<app-avatar />

		<!-- form -->
		<div class="flex-1">

			<!-- textarea -->
			<textarea (keyup.enter)="sendTweet()" [(ngModel)]="tweetMessage" (input)="changeTweet()"
				[maxlength]="tweetMaxLength" class="
				mb-2
				bg-gray-200
				focus:outline-none
				focus:shadow-outline
				focus:bg-gray-100
				border border-transparent
				rounded-lg
				py-2
				px-4
				block w-full
				appearance-none
				font-light
				resize-none
				placeholder-gray-700
				" rows="3" placeholder="What's happening...">

			</textarea>

			<!-- divider line -->
			<div class="w-auto border rounded-lg">
			</div>

			<!-- interactive -->
			<div class="flex justify-end items-baseline">

				<!-- count chars -->
				<div class="mr-5
					font-thin
					text-gray-500
				">
					<p>{{tweetRemain}}</p>
				</div>

				<!-- button -->
				<div class="mt-5">
					<button (click)="sendTweet()" type="button" class="w-32 focus:outline-none border
						border-transparent py-2 px-5 rounded-lg
						shadow
						text-center
						text-white
						bg-blue-500
						hover:bg-blue-600
						font-medium
						">
						Tweet
					</button>
				</div>

			</div>

		</div>

	</div>

</div>